---
interface Props {
  title: string;
  description: string;
  publishDate?: string;
  author?: string;
}

const { title, description, publishDate, author = "Furiki" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Schema Markup (Article)
const articleSchema = {
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": title,
  "description": description,
  "author": {
    "@type": "Person",
    "name": author
  },
  "datePublished": publishDate,
};
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="article" />

<script type="application/ld+json" set:html={JSON.stringify(articleSchema)} />